// Colors
$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);
$red: #9b0000;

// Font Size
$font-sizes: (
  smedium: 0.8rem,
  medium: 0.9rem,
  xmedium: 1.125rem,
  large: 1.75rem,
  xlarge: 2rem,
);

// Font Weight
$font-weights: (
  regular: 400,
  medium: 500,
  bold: 700,
);